* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "medio";
  src: url("fonts/medio.otf") format("opentype");
}
@font-face {
  font-family: "cocomat";
  src: url("fonts/cocomat.ttf") format("opentype");
}

body {
  min-height: 100vh;
  background: #131417;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  margin: 0;
  padding: 0;
}

canvas.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

nav {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  background-color: rgba(187, 178, 161, 0.5);
  position: relative;
  z-index: 2;
}
nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li {
  height: 70px;
}
nav a {
  height: 100%;
  padding: 0 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
  border-radius: 10px;
  font-size: 18px;
  transition: background-color 0.2s, color 0.2s;
  font-family: "medio";
  font-size: 2rem;
  font-weight: 800;
}
nav a:hover {
  color: rgb(17, 195, 218);
  padding: 0 15px;
}

nav li:first-child {
  margin-right: auto;
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); /* For Safari */
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.sidebar li {
  width: 100%;
}
.sidebar a {
  color: white;
  width: 100%;
  font-size: 2rem;
  padding: 15px 20px;
}
.menu-button {
  display: none;
}
@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
  .sidebar {
    z-index: 4;
  }
  .animation {
    z-index: 0;
  }
}
@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}

/* 
=========================
Fonts
=========================

font-family: 'Outfit', sans-serif;

*/

@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap");

/* 
========================
Variables
========================
*/

:root {
  font-size: 15px;

  /* Primary */
  --var-soft-blue: hsl(215, 51%, 70%);
  --var-cyan: hsl(178, 100%, 50%);
  /* Neutral */
  --var-main-darkest: hsl(217, 54%, 11%);
  --var-card-dark: hsl(216, 50%, 16%);
  --var-line-dark: hsl(215, 32%, 27%);
  --var-lightest: white;

  /* Fonts */

  --var-heading: normal normal 600 1.5em/1.6em "Outfit", sans-serif;

  --var-small-heading: normal normal 400 1em/1em "Outfit", sans-serif;

  --var-para: normal normal 300 1em/1.55em "Outfit", sans-serif;
}

/* 
=======================
Setup
=======================
*/

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
}

body {
  background-color: var(--var-main-darkest);
}

img {
  width: 100%;
  border-radius: 15px;
  display: block;
}

a {
  color: inherit;
}

/* 

Eye view

https://i.postimg.cc/9MtT4GZY/view.png' border='0' alt='view */

/*
=========================
Font Styling
=========================
*/

h1 {
  font: var(--var-heading);
  color: var(--var-lightest);
  padding: 1.2em 0;
  font-family: cocomat;
}

h2 {
  font: var(--var-small-heading);
  color: var(--var-lightest);
  /* padding on .coin-base */
}

p {
  font: var(--var-para);
  color: var(--var-soft-blue);
}

span {
  color: white;
}
/* 
=====================
Classes
=====================
*/

/* LAYOUT */

.card-container {
  width: 100%;
  max-width: 400px;
  margin: 2em auto;
  background-color: var(--var-card-dark);
  border-radius: 15px;
  margin-bottom: 1rem;
  padding: 2rem;
}

div.flex-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

div.coin-base,
.time-left,
.card-attribute {
  display: flex;
  align-items: center;
  padding: 0.5em 0;
  margin-right: 3em;
}

.card-attribute {
  padding-bottom: 1.5em;
  border-top: 2px solid var(--var-line-dark);
}

a.hero-image-container {
  position: relative;
  display: block;
}

/* Details */

img.eye {
  position: absolute;
  width: 100%;
  max-width: 2em;
  top: 44%;
  left: 43%;
}

@media (min-width: 400px) {
  img.eye {
    max-width: 3em;
  }
}

.hero-image-container::after {
  content: "";
  background-image: url("https://i.postimg.cc/9MtT4GZY/view.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 5rem;
  background-color: hsla(178, 100%, 50%, 0.3);
  width: 100%;
  height: 100%;
  border-radius: 1rem;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  z-index: 2;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.hero-image-container:hover::after {
  opacity: 1;
}

.small-image {
  width: 1.2em;
  margin-right: 0.5em;
}

.small-avatar {
  width: 2em;
  border-radius: 200px;
  outline: 2px solid white;
  margin-right: 1.4em;
}

div.attribution {
  margin: 0 auto;
  width: 100%;
  font: var(--var-para);
  text-align: center;
  padding: 1.5em 0 4em 0;
  color: var(--var-line-dark);
}
.attribution a {
  color: var(--var-soft-blue);
}

@media (min-width: 600px) {
  body {
    font-size: 18px;
  }
}

@media (max-width: 600px) {
  .card-container p {
    font-family: cocomat;
  }
}

.typetext {
  color: white;
  font-size: 1.5rem;
  font-family: monospace;
  letter-spacing: 4px;
  border-right: 5px solid;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(19), cursor 0.4s step-end infinite alternate;
}

@keyframes cursor {
  50% {
    border-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
}

.typeContainer {
  display: inline-block;
  margin-top: 5px;
}

.bigger {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .bigger {
    top: 70%;
    transform: translateY(70%);
  }
}

/* Styles for smaller screens  */
@media (max-width: 768px) {
  .bigger {
    top: 65%;
    transform: translateY(65%);
  }
  .typetext {
    font-size: 1.3rem;
  }
}
