* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "medio";
  src: url("fonts/medio.otf") format("opentype");
}
@font-face {
  font-family: "cocomat";
  src: url("fonts/cocomat.ttf") format("opentype");
}

/* Global styles */
body {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background: #131417;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  margin: 0;
  padding: 0;
}
nav {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  padding: 10px 20px;
  /* background-color: #bbb2a1; */
  background-color: rgba(187, 178, 161, 0.5);
  position: relative;
  z-index: 2;
}
nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav li {
  height: 70px;
}
nav a {
  height: 100%;
  padding: 0 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
  border-radius: 10px;
  font-size: 18px;
  transition: background-color 0.2s, color 0.2s;
  font-family: "medio";
  font-size: 2rem;
  font-weight: 800;
}
nav a:hover {
  color: rgb(218, 47, 17);
  padding: 0 15px;
}

nav li:first-child {
  margin-right: auto;
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); /* For Safari */
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}
.sidebar li {
  width: 100%;
}
.sidebar a {
  color: white;
  width: 100%;
  font-size: 2rem;
  padding: 15px 20px;
}
.menu-button {
  display: none;
}
@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
  .sidebar {
    z-index: 4;
  }
  .animation {
    z-index: 0;
  }
}
@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}

@import url("https://fonts.googleapis.com/css?family=Roboto:700");

body {
  font-family: "Roboto";
  background-color: #131417;
}
p {
  text-shadow: 0 0 7px rgba(255, 255, 255, 0.3),
    0 0 3px rgba(255, 255, 255, 0.3);
}

.intro {
  margin: 20px;
  padding: 10px;
  font-family: JetBrains Mono, monospace;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color: blanchedalmond;
  position: relative;
}

.container {
  /* font-family: "cocomat"; */
  font-family: JetBrains Mono, monospace;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color: blanchedalmond;
  position: relative;
}

.animation {
  height: 50px;
  overflow: hidden;
  margin-left: 1rem;
  position: relative;
}

.animation > div > div {
  padding: 0.25rem 0.75rem;
  height: 2.81rem;
  margin-bottom: 2.81rem;
  display: inline-block;
}

.animation div:first-child {
  animation: text-animation 8s infinite;
}

.first div {
  background-color: #20a7d8;
}
.second div {
  background-color: #cd921e;
}
.third div {
  background-color: #c10528;
}

@keyframes text-animation {
  0% {
    margin-top: 0;
  }
  10% {
    margin-top: 0;
  }
  20% {
    margin-top: -5.62rem;
  }
  30% {
    margin-top: -5.62rem;
  }
  40% {
    margin-top: -11.24rem;
  }
  60% {
    margin-top: -11.24rem;
  }
  70% {
    margin-top: -5.62rem;
  }
  80% {
    margin-top: -5.62rem;
  }
  90% {
    margin-top: 0;
  }
  100% {
    margin-top: 0;
  }
}

canvas.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  pointer-events: none;
}

.logoContainer img {
  width: 150px;
  height: auto;
}

.button_slide {
  color: #fff;
  border: 2px solid rgb(216, 2, 134);
  border-radius: 0px;
  padding: 18px 36px;
  display: inline-block;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 14px;
  letter-spacing: 1px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #d80286;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
  text-decoration: none;
}

.slide_right:hover {
  box-shadow: inset 400px 0 0 0 #d80286;
}

.arrow {
  margin-top: 40px;
}

.handshake {
  margin-top: 60px;
}

.HandbuttonContainer {
  margin-bottom: 20px;
}

.item {
  width: 400px;
  margin: 0 auto;
  padding: 10px;
  box-sizing: border-box;
}
