* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "medio";
  src: url("fonts/medio.otf") format("opentype");
}
@font-face {
  font-family: "cocomat";
  src: url("fonts/cocomat.ttf") format("opentype");
}

body {
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-image: url("background.svg"); */
  background-color: #afd0f3;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
nav {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  padding: 10px 20px;
}
nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: inherit;
}
nav li {
  height: 70px;
  background-color: inherit;
}
nav a {
  height: 100%;
  padding: 0 20px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
  background-color: inherit;
  border-radius: 10px;
  font-size: 18px;
  transition: background-color 0.2s, color 0.2s;
  font-family: "medio";
  font-size: 2rem;
  font-weight: 800;
}
nav a:hover {
  color: rgb(10, 67, 153);
  padding: 0 15px;
}

nav li:first-child {
  margin-right: auto;
}
.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  background-color: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  list-style: none;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;

  /* Apply backdrop filter for blur effect */
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); /* For Safari */
}
.sidebar li {
  width: 100%;
}
.sidebar a {
  width: 100%;
  font-size: 18px;
  padding: 15px 20px;
}
.menu-button {
  display: none;
}
@media (max-width: 800px) {
  .hideOnMobile {
    display: none;
  }
  .menu-button {
    display: block;
  }
}
@media (max-width: 400px) {
  .sidebar {
    width: 100%;
  }
}

.hello {
  margin: 20px;
  padding: 10px;
  font-family: "cocomat";
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.hello {
  text-align: center; /* Center the text horizontally */
  margin-bottom: 20px; /* Adjust as needed */
}

.me {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
}

.me img {
  max-width: 100%; /* Ensure the image doesn't exceed its container */
}

.background {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}
